.nav {
  display:none;
}

#main {
  margin: auto;
  text-align: justify;
}

#typography {
  max-width: 60rem;
  padding: 0.7rem;
  margin: auto;
}

#Sobre h1 {
  font-size: 2.1rem;
}

h1, #Sobre h2 {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.charla {
  margin: 1.5rem 0;
}

.charla h1 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}

p {
  font-size: 1rem;
}

section {
  margin-bottom: 1.5rem;
}

.page-header {
  margin: auto;
}

img {
  max-width: 16rem;
  padding: 0.5rem;
}

#video {
  float: left;
}

#chat {
  float: right;
}

.clear {
  clear: both;
}

